<h1><%= lorem.words 3 %></h1>
<p>
  <%= lorem.paragraph %>
</p>

<h2><%= lorem.words 5 %></h2>
<p>
  <%= lorem.paragraph %>
</p>

<h2><%= lorem.words 5 %></h2>
<p>
  <%= lorem.paragraph %>
</p>

<h2><%= lorem.words 5 %></h2>
<p>
  <%= lorem.paragraph %>
</p>
